  <h2><%= @job.name %></h2>
  <%if current_customer == @job.customer%>
    <p>Posted By <strong>you</strong></p>
  <% else %>
    <p>Posted By <strong><%= @job.customer.first_name%></strong> </p>
  <% end %>
  <p><%= @job.specialty %></p>
  <p><%= @job.description %></p>