// Place all the styles related to the Job controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.header-center{
  text-align: center;
}

.posts{
  position: fixed;
  background-color: white;
  padding: 4%;
}
