<h2 class="text-center"> <%= @worker.first_name %>'s Work Performance </h2>

<p>
    <%= link_to 'Back To Worker',worker_path(@index), class: 'btn btn-primary' %>
</p><br>

    <% @job.each_with_index do |job, index| %>
        <% if job.reviews != nil %>
            <div class="posting" data-turbolinks="false">
                
                <%= link_to "#{job.reviews.headline}", review_path(@index, @worker, job.reviews), class: 'btn btn-success' %>
                
            </div><br>
        <% else %>
            <h3 class= "text-center"> No Available Reviews </h3>
        <% end %>
    <% end %>