<h2 class="text-center"> <%= @worker.first_name %>'s Work Performance </h2>

    <% @job.each do |job| %>
        <% if job.reviews != nil %>
            <div class="container p-3 mb-5 mt-5 border border-dark w-50">
                <% @review = job.reviews%>
                <%= render :partial => 'review', locals: { review: @review } %>
                <h5 class="container p-3">Reviewed by <%= job.customer_first_name%></h5>
            </div>
        <% else %>
            <h3 class= "text-center"> No Available Reviews </h3>
        <% end %>
    <% end %>